/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.nav-link-white {
  color: white !important;
}

.textBlack {
  color: #000;
}

.textBlack:hover {
  color: #fff;
  background-color: #0B6EFD;
}